*{
    padding: 0;
}

h1{
    text-align: center;
}

ul{
    display: flex;
    list-style: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

main{
    text-align: center;
}

#botonAdd{
    background-color: green;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-width: 0;
}