$calypso-50: #e8ffff;
$calypso-100: #c5ffff;
$calypso-200: #92ffff;
$calypso-300: #47ffff;
$calypso-400: #00f4ff;
$calypso-500: #00d6ff;
$calypso-600: #00a8d7;
$calypso-700: #0084ac;
$calypso-800: #006d8f;
$calypso-900: #055674;
$calypso-950: #003951;