@import 'paletaColores';

body{
    margin: 0;
    padding: 0;
    background-color: $calypso-50;
}

.contenedorInicio{
    // perspective: 1000px;
    .imagenFondo{
        background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url('src/assets/fondoInicio.jpg');
        // width: 100%;
        min-height: 80vh;
        min-width: 90vw;
        padding: 10px 10px 10px 10px;
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center;
        ////background-size: contain;
        //filter: brightness(0.55); 
    }

    header{
        height: 60px;
        background-color: $calypso-700;
        filter: drop-shadow(0 0 2em $calypso-900);
        

        display: flex;
        justify-content: space-between;
        padding: 0px 30px 0px 30px; // arriba derecha abajo izquierda
        align-items: center;
        
        border-radius: 10px;

        header, img{
            width: 40px;
            height: 40px;
        }

        .botonNav{
            border: none;
            background: none;
            text-decoration: none;
            outline: none;
            font: inherit;
            color: inherit;
            cursor: pointer;
            margin: 0px;
            color: $color-letra;
            font-family: $fuente-preferida;
            padding-left: 20px;
            font-weight: bold; 
            font-size: 20px; /* Cambia el tamaño según tus necesidades (puedes usar px, em, rem, %, etc.) */
            background-color: rgba(255, 255, 255, 0);
        }
       
    }

    .titulo{
        color: $color-letra;
        font-family: $fuente-preferida;
        font-size: 50px;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 650px;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;
    }



    .seccionCategoria{
        display: flex;
        width: 100%;
        overflow: hidden; //algo que sobra
        // margin: 50px;
        align-items: center;
        padding: 10px;

        

        .contenedorCategorias{
            display: flex;
            overflow-x: auto;
            scrollbar-width: none;
           
            @media screen and (min-width: 1462px) {
                // Estilos para pantallas más pequeñas que el tamaño de una tablet
                justify-content: center;
            }
            //justify-content: center;
            padding: 30px 0px; //Ariba-Abajo

            .cardCategorias{
                width: 500px;
                height: 300px;
                position: relative;
                flex: 0 0 309px;
                cursor: pointer;
                // height: 450px;
                overflow: hidden;
                margin-left: 1.5rem;
                border-radius: 18px;
                box-shadow: 2px 4px 12px
                            rgba(0,0,0, 0.08);
            }

            .divCategoria{
                min-width: 90vh;
            }

            // .cardNovedades{
            //     position: relative;
            //     flex: 0 0 309px;
            //     height: 450px;
            //     overflow: hidden;
            //     margin-left: 1.5rem;
            //     border-radius: 18px;
            //     box-shadow: 2px 4px 12px
            //                 rgba(0,0,0, 0.08);

            //     .imgNovedades{
            //         width: 100%;

            //     }

            //     .bodyConetenedorNovedad{
            //         position: absolute;
            //         top: 0;
            //         padding: 28px;
            //         font-family: "San Francisco";
            //         font-weight: 600;

            //         .tituloNovedades{
            //             font-size: 0.75rem;
            //             margin-bottom: 1rem;
            //         }

            //         .linkNovedades{
            //             font-size: 1.3rem;
            //         }

            //         .textNovedades{
            //             font-size: 1.1rem;
            //             font-weight: 300;
            //         }

            //     }
            // }
        }
    }

    .seccionProductos{
        .listaProductos{
            width: 100%;
            min-height: 100vh;
            background-color: $calypso-200;
            
            .listadoProductos{

                    
                .contenedorProducto{
                    width: 280px;
                    height: 370px;
                    
                    display: flex;
                    filter: drop-shadow(0 0 0.4rem $calypso-500);

                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    border-radius: 18px;
                    cursor: pointer;
                    
                    // flex-wrap: wrap;
                    background-color: $calypso-50;
                    .imagenProductoContenedor{
                        width: 200px;
                        height: auto;
                        
                    }

                }
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                flex-wrap: wrap;
                gap: 20px;
            }
        }
    }
}
