@import 'paletaColores';


.contenedorPadreDeseados{
    display: flex;
    min-height: 100vh;
    //min-height: 100vw;
    align-content: center;

    .containerDeseados{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 20px;
        height: auto;
        width: 100%;
        // min-height: 50vh;
        background-color: $calypso-200;

        border-radius: 18px;
        gap:20px;
            
        box-shadow: 2px 4px 12px
                            rgba(61, 58, 58, 0.24);
        .containerDeseadosContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            .contenedorProductoDeseado{

                border-radius: 18px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                
                box-shadow: 2px 4px 12px
                            rgba(61, 58, 58, 0.24);
                width: 480px;
                height: 240px;
                background-color: $calypso-50;
                padding: 0px 10px;    

                .imgProductoDeseado{
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                    

                }

                .contenedorDatosProductoDeseado{
                    display: flex;
                    flex-direction: column;
                    margin-left: 30px;
                    align-items: flex-start;
                    .contenedorBotonesProductos{
                        margin-top: 20px;
                        display: flex;
                        gap: 10px;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}